h1,h5{
    text-align:center;
}
div{
    /* border: 1px solid black; */
}
#container{
    display: grid;
    grid-template-columns: 1fr 3fr 7fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". l r .";

}
#left-box{
    grid-area: l;
    height: 100%;
    background-color:cornsilk;
    border: 2px solid black;
    border-right: 1px;
    padding-bottom: 0;
}
#right-box{
    grid-area:r;
    height: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    
}
#task-box{
    height: 500px;
    overflow-y: scroll;
    border-bottom: 1px solid black;
}
#project-name{

    width:100%;
    height:50px;
    word-break: break-all;
    word-wrap:break-word;
    overflow-y: scroll;
    background-color:pink;
    margin-bottom:5px;
}
#startdate{
    margin-bottom:5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
#project-task{
    width:100%;
    height: 480px;
    word-wrap:break-word;
    word-break: break-all;
    background-color:aqua;
}
#project-task::before{
    content:attr(placeholder);
    color:#555;
    opacity: 0.6;
}



table{
    text-align: center;
    width: 100%;
    
    
}
#table-div{
    height:675px;
    overflow-y: scroll;
    /* border: 1px solid black; */
}

#button-box{
    text-align: center;
    background-color: aliceblue;
    border: 1px solid black;
    border-top: 0px ;
}
#button-box button{
    float: right;
    
}

#button-box h3{
    display: inline;
    margin: auto;
    
}
#working-hours{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0;
}
/* #preview-box{
    text-align: center;
} */
.table-class{
    width:30%;
    word-break: break-all;
    word-wrap:break-word;
    
}
.start-time:hover{
    color: blue;
    text-decoration: underline;
    border:1px solid #555;
}
.end-time:hover{
    color: blue;
    text-decoration: underline;
    border:1px solid #555;
}
p{
    color:#555;
    text-align:center;
    opacity: 0.6;
}


